{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Destinos{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'viajes/estilo.css' %}">
</head>
<body>

<header>
  <nav>
    {% if user.is_authenticated %}
      Bienvenido, {{ user.username }} |
      <a href="{% url 'logout' %}" class="boton">Cerrar sesión</a>
    {% else %}
      <a href="{% url 'login' %}" class="boton">Iniciar sesión</a> |
      <a href="{% url 'registro' %}" class="boton">Registrarse</a>
    {% endif %}
  </nav>
</header>

<main>
  {% block content %}
  <!-- Aquí va el contenido de cada página -->
  {% endblock %}
</main>

</body>
</html>
