<h2>Destinos Turísticos</h2>
{% for destino in destinos %}
  <div>
    <h3>{{ destino.nombreCiudad }}</h3>
    <p>{{ destino.descripcionCiudad }}</p>
    <img src="{{ destino.imagenCiudad }}" width="200px">
    <p>Precio: S/ {{ destino.precioTour }}</p>
    {% if destino.ofertaTour %}
      <strong>¡En oferta!</strong>
    {% endif %}
    {% if user.is_authenticated %}
      Bienvenido, {{ user.username }} |
      <a href="{% url 'logout' %}">Cerrar sesión</a>
    {% else %}
      <a href="{% url 'login' %}">Iniciar sesión</a> |
      <a href="{% url 'registro' %}">Registrarse</a>
    {% endif %}
  </div>
{% endfor %}
