<h2>Crear Cuenta</h2>
<form method="post">
    {% csrf_token %}
    <label for="id_username">Usuario:</label>
    {{ form.username }}
  
    <label for="id_first_name">Nombre:</label>
    {{ form.first_name }}
  
    <label for="id_last_name">Apellido:</label>
    {{ form.last_name }}
  
    <label for="id_email">Correo electrónico:</label>
    {{ form.email }}
  
    <label for="id_password1">Contraseña:</label>
    {{ form.password1 }}
  
    <label for="id_password2">Confirmar contraseña:</label>
    {{ form.password2 }}
  
    <button type="submit">Registrarme</button>
</form>
  
