.results-container {
  text-align: center;
  margin-top: 80px;
  font-family: Arial, sans-serif;
}

button {
  background-color: #336699;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
