{% load static %}
{% for destino in destinos %}
<div class="destination item">
	<div class="text-center mb-4">
		<a href="{% url 'nuevo_destino' %}" class="btn btn-primary btn-lg">Agregar nuevo destino</a>
	</div>
    <div class="destination_image">
        <img src="{{ destino.imagenCiudad.url }}" alt="{{ destino.nombreCiudad }}">
        {% if destino.ofertaTour %}
        <div class="spec_offer text-center"><a href="#">Special Offer</a></div>
        {% endif %}
    </div>
    <div class="destination_content">
        <div class="destination_title"><a href="#">{{ destino.nombreCiudad }}</a></div>
        <div class="destination_subtitle"><p>{{ destino.descripcionCiudad }}</p></div>
        <div class="destination_price">From ${{ destino.precioTour }}</div>
        <div class="destination_list">
            <ul>
                <li>5 Stars Hotel</li>
                <li>All Inclusive</li>
                <li>Flight tickets included</li>
                <li>Guided visits</li>
            </ul>
        </div>
    </div>
</div>
{% empty %}
<p>No hay destinos disponibles.</p>
{% endfor %}
