body {
  font-family: 'Montserrat', sans-serif;
  background-color: #5ea3cb !important; 
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

.instrucciones {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instrucciones h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 15px;
}

.instrucciones ul {
  padding-left: 20px;
  line-height: 1.6;
}

.instrucciones li {
  margin-bottom: 8px;
}

.instrucciones strong {
  color: #d35400;
}


.container {
  max-width: 1250px;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  font-family: 'Courier New', monospace;
  font-size: 65px;
  margin-bottom: 35px;
  color: rgb(34, 119, 209);
  text-align: center;
}

.word-display {
  font-size: 40px;
  letter-spacing: 20px;
  font-weight: bold;
  margin: 45px 0;
  color: #000;
  text-align: center;
}

.remaining {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #388e3c;
}

.wrong-letters {
  font-size: 22px;
  color: #d32f2f;
  margin-bottom: 35px;
}

.letters-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-top: 35px;
}

.letters-grid button {
  width: 70px;
  height: 70px;
  font-size: 28px;
  font-weight: bold;
  background-color: #90caf9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  text-align: center;
}

.letters-grid button:hover {
  background-color: #64b5f6;
  transform: scale(1.07);
}

.letters-grid button:disabled {
  background-color: #cfd8dc;
  color: #555;
  cursor: not-allowed;
}

.win-message {
  font-size: 48px;
  font-weight: bold;
  margin-top: 50px;
  color: #d32f2f;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

button.restart {
  margin-top: 35px;
  padding: 16px 36px;
  font-size: 22px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.restart:hover {
  background-color: #1565c0;
}

.imagen-ahorcado {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
